.background img {
	padding: 10px;
}

.graphic {
	padding: 20px;
}


#main-loader {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #494caf;
	z-index: 99999999;
}

.not-scroll {
    overflow: hidden;
}